<%- include('partials/head') %>
<body>
  <%- include('partials/header') %>
  <%- include('partials/navigation') %>

  <main>
    <%- include('partials/hero') %>
    <div class="row">
      <%- include('partials/upgrades') %>
      <%- include('partials/reviews') %>
    </div>
  </main>

  <%- include('partials/footer') %>
</body>
</html>
